@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>At AirAware, we are committed to protecting your privacy. This Privacy Policy outlines how we handle your personal information when you use our site.</p>

<h2>Data Collection</h2>
<p>AirAware does not store cookies or collect any personal data from its users. We prioritize your privacy and ensure that your browsing experience is secure and anonymous.</p>

<h2>Third-Party Services</h2>
<p>We use OpenStreetMap to provide map services on our site. OpenStreetMap may collect certain data as outlined in their privacy policy. For more information on how OpenStreetMap handles your data, please refer to their <a href="https://wiki.osmfoundation.org/wiki/Privacy_Policy">Privacy Policy</a>.</p>